rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Disallow any read or write which are not explicitly allowed
    match /{document=**} {
      allow read: if false;
      allow write: if false;
    }

    // Access-Rules for countries collection and its subcollections
    match /countries/{countryId} {
        // Allow Get if authenticated
        allow get: if request.auth != null;
        // Allow List if authenticated
        allow list: if request.auth != null;
        // Deny Write (Create, Update, Delete)
        allow write: if false;

        // Access-Rules for cities subcollection
        match /cities/{cityId} {
          // Allow Get if authenticated
          allow get: if request.auth != null;
          // Allow List if authenticated
          allow list: if request.auth != null;
          // Deny Write (Create, Update, Delete)
          allow write: if false;
        }
    }

    // Access-Rules for users collection and its subcollections
    match /users/{userId} {
        // Allow single read if auth uid matches with the userId
        allow get: if request.auth.uid == userId;
        // Deny list
        allow list: if false;
        // Allow Create if auth uid matches with the userId
        allow create: if request.auth.uid == userId;
        // Allow Update if auth uid matches with the userId
        // and the consumptionSummary field hasn't been updated
        allow update: if request.auth.uid == userId
            && !request.resource.data.diff(resource.data).affectedKeys().hasAny(['consumptionSummary']);
        // Deny delete as an user documents exclusively gets deleted by a cloud function
        allow delete: if false;

        // Access-Rules for consumptions subcollection
        match /consumptions/{consumptionID} {
          // Allow read if auth uid matches with the userId
          allow read: if request.auth.uid == userId;
          // Allow write if auth uid matches with the userId
          allow write: if request.auth.uid == userId;
        }

        // Access-Rules for consumption-summaries subcollection
        match /consumption-summaries/{consumptionSummaryID} {
          // Allow read if auth uid matches with the userId
          allow read: if request.auth.uid == userId;
          // Deny write
          allow write: if false
        }
    }

  }
}